@use "../../theme/breakpoints.scss" as b;

$navbar-bg: #2f3341;
$text-color: #fca1ff;

.navbar-main {
  background-color: $navbar-bg;

  .nav-holder {
    display: flex;

    .left-section {
      width: 30%;
      flex-basis: 30%;
      display: flex;
      align-items: center;
      gap: 8px;

      // After medium devices
      @media screen and (width > b.$layout-breakpoint-small) {
        display: flex;
        width: 60%;
        flex-basis: 60%;
      }

      .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 8px 12px;
        padding-right: 4px;

        @media screen and (width > b.$layout-breakpoint-small) {
          display: none;
        }

        .burger-icon {
          color: #ddd6ff;
        }
      }

      .brand {
        display: flex;
        align-items: center;
        padding: 12px 4px;
        padding-left: 0;

        @media screen and (width > b.$layout-breakpoint-small) {
          padding-left: 16px;
        }

        .brand-logo {
          width: 2.5rem;
          aspect-ratio: 1/1;
          margin-right: 4%;
        }

        .app-title {
          display: none;
          padding: 0 12px;
          padding-left: 0;
          font-size: 1.5rem;
          color: #fff;
          @media screen and (width > b.$layout-breakpoint-medium) {
            display: block;
          }
        }
      }

      .links-list {
        display: none;
        flex: auto;
        padding: 8px 12px;
        list-style: none;
        font-size: 1.15rem;

        @media screen and (width > b.$layout-breakpoint-small) {
          display: flex;
        }

        li a.page-link {
          color: #ddd6ff;
        }

        li a.page-link:hover {
          color: #a29fb5;
        }

        li a.page-link:link {
          text-decoration: none;
        }
      }
    }

    .right-section {
      width: 70%;
      flex-basis: 70%;
      display: flex;
      align-items: center;
      padding: 4px 12px;

      // After medium devices
      @media screen and (width > b.$layout-breakpoint-small) {
        display: flex;
        width: 40%;
        flex-basis: 40%;
      }

      .auth-btns {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-left: auto;
        // height: 4vh;

        .login {
          padding: 6px 8px;
          font-weight: 400;
          font-size: 1.05rem;
          border-radius: 5px;
          background-color: #8f43e6;
          color: #fff;
          border: none;
          cursor: pointer;
        }

        .login:hover {
          box-shadow: 0 0 6px #d448ff;
        }

        .signup {
          padding: 6px 8px;
          font-weight: 400;
          font-size: 1.05rem;
          border-radius: 5px;
          background-color: transparent;
          color: #ddd6ff;
          border: 1.5px solid #efedf9;
          cursor: pointer;
        }

        .signup:hover {
          box-shadow: 0 0 6px #d448ff;
        }
      }
    }
  }
}
